body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-bebas-neue: "Bebas Neue";
  --font-be-vietnam: "Be Vietnam";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-51xl: 70px;

  /* Colors */
  --color-white: #fff;
  --color-midnightblue-100: #371e67;
  --color-midnightblue-200: rgba(55, 30, 103, 0.4);
}
