.register-child {
  position: absolute;
  top: 0;
  left: 478px;
  border-radius: 60px;
  background-color: rgba(55, 30, 103, 0.5);
  width: 1000px;
  height: 1024px;
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 101px;
  object-fit: cover;
}
.about-us,
.home,
.contact-us,
.register1,
.resource
{
  text-decoration: none;
  position: absolute;
  top: 20px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 42px;
}
.home {
  left: 180px;
  cursor: pointer;
}
.about-us {
  left: 360px;
}
.contact-us{
  left: 540px;
}
.register1 {
  left: 720px;
}
.resource{
  left: 900px;
}
.image-2,
.image-3,
.threads-removebg-preview-1 {
  text-decoration: none;
  position: absolute;
  top: 26px;
  left: 1105px;
  width: 30px;
  height: 30px;
  background-image: url(./public/image-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-3,
.threads-removebg-preview-1 {
  left: 1158px;
  background-image: url(./public/image-3@3x.png);
}
.threads-removebg-preview-1 {
  top: 23px;
  left: 1195px;
  width: 55px;
  height: 37px;
  background-image: url(./public/threadsremovebgpreview-1@3x.png);
}


.navbar {
  position: absolute;
  top: 19px;
  left: 100px;
  width: 1250px;
  height: 101px;
  text-align: center;
  font-size: var(--font-size-lg);
  font-family: var(--font-bebas-neue);
}
.blank-line {
  margin: 0;
}
.peoples-conference {
  margin: 0;
  color: var(--color-midnightblue-100);
}
.come-join-us-container1 {
  line-break: anywhere;
  width: 100%;
}
.come-join-us-container {
  position: absolute;
  top: 305px;
  left: 100px;
  font-size: 70px;
  font-family: var(--font-bebas-neue);
  display: flex;
  align-items: center;
  width: 439px;
  height: 120px;
}
.image-removebg-preview3-1-icon {
  position: absolute;
  top: 554px;
  left: 55px;
  width: 418px;
  height: 267px;
  object-fit: cover;
}
.rectangle-div,
.register-child1,
.register-child2,
.register-inner,
.register-item {
  position: absolute;
  top: 374px;
  left: 538px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 375px;
  height: 47px;
}
.rectangle-div,
.register-child1,
.register-child2,
.register-inner {
  top: 641px;
}
.rectangle-div,
.register-child1,
.register-child2 {
  left: 960px;
}
.register-child1,
.register-child2 {
  top: 512px;
  left: 539px;
  width: 796px;
}
.register-child2 {
  top: 374px;
  left: 960px;
  width: 375px;
}
.contact-number,
.email-id,
.first-name,
.last-name,
.school-university {
  position: absolute;
  top: 331px;
  left: 560px;
  display: flex;
  align-items: center;
  width: 170px;
  height: 29px;
}
.contact-number,
.email-id,
.last-name,
.school-university {
  top: 604px;
}
.email-id,
.last-name,
.school-university {
  left: 978px;
}
.last-name,
.school-university {
  top: 331px;
  left: 973px;
}
.school-university {
  top: 466px;
  left: 562px;
  width: 326px;
  height: 41px;
}
.registerbutton-child {
  position: absolute;
  top: 0;
  left: 4px;
  border-radius: var(--br-xl);
  background-color: transparent;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 273px;
  height: 60px;
}
.next,
.registerbutton {
  position: absolute;
  left: 0;
}
.next {
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 25px;
}
.registerbutton {
  top: 0;
  width: 277px;
  height: 60px;
  cursor: pointer;
}
.group-child {
  position: absolute;
  top: 17.73px;
  left: 141.97px;
  width: 44.53px;
  height: 22.09px;
}
.registerbutton-parent {
  position: absolute;
  top: 779px;
  left: 796px;
  width: 277px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  font-family: var(--font-bebas-neue);
}
.register {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-be-vietnam);
}
