body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-bebas-neue: "Bebas Neue";

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-midnightblue: rgba(55, 30, 103, 0.4);

  /* border radiuses */
  --br-49xl: 68px;
}
