.ellipse-div,
.resources-child,
.resources-child1,
.resources-child2,
.resources-inner,
.resources-item {
  position: absolute;
  top: 423px;
  left: 81px;
  border-radius: 50%;
  background-color: var(--color-midnightblue);
  width: 207px;
  height: 193px;
}
.ellipse-div,
.resources-child1,
.resources-child2,
.resources-inner,
.resources-item {
  top: 193px;
  left: 73px;
}
.ellipse-div,
.resources-child1,
.resources-child2,
.resources-inner {
  top: 657px;
  left: 681px;
}
.ellipse-div,
.resources-child1,
.resources-child2 {
  top: 423px;
  left: 678px;
}
.resources-child1,
.resources-child2 {
  top: 186px;
  left: 681px;
}
.resources-child2 {
  top: 653px;
  left: 81px;
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 101px;
  object-fit: cover;
}
.about-us,
.home,
.contact-us,
.register,
.resource
{
  text-decoration: none;
  position: absolute;
  top: 20px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 42px;
}

.home {
  left: 180px;
  cursor: pointer;
}
.about-us {
  left: 360px;
}

.contact-us{
  left: 540px;
}
.register {
  left: 720px;
}
.resource{
  left: 900px;
}
.image-2,
.image-3,
.threads-removebg-preview-1 {
  text-decoration: none;
  position: absolute;
  top: 26px;
  left: 1105px;
  width: 30px;
  height: 30px;
  background-image: url(./public/image-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-3,
.threads-removebg-preview-1 {
  left: 1158px;
  background-image: url(./public/image-3@3x.png);
}
.threads-removebg-preview-1 {
  top: 23px;
  left: 1195px;
  width: 55px;
  height: 37px;
  background-image: url(./public/threadsremovebgpreview-1@3x.png);
}


.navbar {
  position: absolute;
  top: 19px;
  left: 100px;
  width: 1500px;
  height: 101px;
  font-size: var(--font-size-lg);
}
.image-13-icon {
  position: absolute;
  top: 686px;
  left: 704px;
  border-radius: 122.5px;
  width: 161.95px;
  height: 136px;
  object-fit: cover;
}
.image-8-icon,
.image-9-icon {
  left: 100px;
  border-radius: var(--br-49xl);
  width: 167.82px;
}
.image-8-icon {
  position: absolute;
  top: 452px;
  height: 136px;
  object-fit: cover;
}
.image-9-icon {
  top: 686px;
}
.image-10-icon,
.image-12-icon,
.image-14-icon,
.image-9-icon {
  position: absolute;
  height: 136px;
  object-fit: cover;
}
.image-10-icon {
  top: 452px;
  left: 702px;
  border-radius: var(--br-49xl);
  width: 156.84px;
}
.image-12-icon,
.image-14-icon {
  top: 218px;
  cursor: pointer;
}
.image-12-icon {
  left: 100px;
  border-radius: var(--br-49xl);
  width: 168.29px;
}
.image-14-icon {
  left: 698px;
  border-radius: 164.5px;
  width: 167.82px;
}
.background-guide {
  margin: 0;
}
.background-guide-united-container1 {
  line-break: anywhere;
  width: 100%;
}
.background-guide-united-container {
  text-decoration: none;
  position: absolute;
  top: 254px;
  left: 269px;
  color: inherit;
  display: flex;
  align-items: center;
  width: 372px;
  height: 67px;
  cursor: pointer;
}
.background-guide-united-container2,
.background-guide-united-container4 {
  position: absolute;
  top: 486px;
  left: 269px;
  display: flex;
  align-items: center;
  width: 372px;
  height: 67px;
}
.background-guide-united-container4 {
  top: 720px;
  left: 916px;
}

.background-guide-united-container6,
.background-guide-united-container8 {
  position: absolute;
  top: 486px;
  left: 916px;
  display: flex;
  align-items: center;
  width: 372px;
  height: 67px;
}
.background-guide-united-container10 {
  position: absolute;
  top: 720px;
  left: 308px;
  display: flex;
  align-items: center;
  width: 290px;
  height: 67px;
}

.background-guide-united-container8 {
  top: 254px;
}

.resources {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
