.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 101px;
  object-fit: cover;
}
.about-us,
.home,
.contact-us,
.register,
.resource
{
  text-decoration: none;
  position: absolute;
  top: 20px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 42px;
}
.home {
  left: 180px;
  cursor: pointer;
}
.about-us {
  left: 360px;
}
.contact-us{
  left: 540px;
}
.register {
  left: 720px;
}
.resource{
  left: 900px;
}
.image-2,
.image-3,
.threads-removebg-preview-1 {
  text-decoration: none;
  position: absolute;
  top: 26px;
  left: 1105px;
  width: 30px;
  height: 30px;
  background-image: url(./public/image-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-3,
.threads-removebg-preview-1 {
  left: 1158px;
  background-image: url(./public/image-3@3x.png);
}
.threads-removebg-preview-1 {
  top: 23px;
  left: 1195px;
  width: 55px;
  height: 37px;
  background-image: url(./public/threadsremovebgpreview-1@3x.png);
}

.navbar {
  position: absolute;
  top: 19px;
  left: 100px;
  width: 1250px;
  height: 101px;
}
.bg-guide-unsc-child {
  position: absolute;
  top: 150px;
  left: 0;
  background-color: rgba(55, 30, 103, 0.4);
  width: 320px;
  height: 874px;
}
.image-12-icon {
  position: absolute;
  top: 471px;
  left: 7px;
  border-radius: 68px;
  width: 320px;
  height: 260px;
  object-fit: cover;
}
.bg-guide-unsc-item {
  position: absolute;
  top: 150px;
  left: 320px;
  background-color: #371e67;
  width: 1120px;
  height: 874px;
}
.bg-guide-unsc-inner {
  position: absolute;
  top: 170px;
  left: 17px;
  background-color: var(--color-black);
  width: 293px;
  height: 50px;
}
.committee-name {
  position: absolute;
  top: 178px;
  left: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 273px;
  height: 30px;
}
.rectangle-div {
  position: absolute;
  top: 238px;
  left: 17px;
  background-color: var(--color-black);
  width: 185px;
  height: 50px;
}
.bg-agenda-1 {
  position: absolute;
  top: 246px;
  left: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 172px;
  height: 30px;
}
.bg-guide-unsc-child1,
.bg-guide-unsc-child2 {
  position: absolute;
  top: 162px;
  left: 543px;
  background-color: var(--color-gainsboro);
  width: 718px;
  height: 848px;
}
.bg-guide-unsc-child2 {
  top: 304px;
  left: 1424px;
  border-radius: 30px;
  width: 4px;
  height: 167px;
}
.image-20-icon {
  position: absolute;
  top: 175px;
  left: 1217px;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.bg-guide-unsc {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
