.image-11-icon {
  position: absolute;
  top: 61px;
  left: 0;
  border-radius: 164.5px;
  width: 708px;
  height: 575px;
  object-fit: cover;
}
.unsc-child {
  position: absolute;
  top: -1px;
  left: 708px;
  background-color: rgba(55, 30, 103, 0.4);
  width: 1000px;
  height: 1024px;
}
.agenda,
.moderator,
.the-united-nations {
  position: absolute;
  display: flex;
  align-items: center;
}
.moderator {
  top: 851px;
  left: 1220px;
  justify-content: center;
  width: 178px;
  height: 56px;
}
.agenda,
.the-united-nations {
  font-size: var(--font-size-51xl);
  font-family: var(--font-bebas-neue);
  width: 597px;
  height: 357px;
}
.the-united-nations {
  top: 181px;
  left: 35px;
  justify-content: center;
}
.agenda {
  top: 131px;
  left: 732px;
  text-align: left;
}
.image-removebg-preview3-3 {
  position: absolute;
  top: 297px;
  left: 520px;
  border-radius: 170px;
  width: 172px;
  height: 113px;
}
.lorem-ipsum-dolor {
  text-decoration: none;
  position: absolute;
  top: 514px;
  left: 80px;
  color: inherit;
  text-align: left;
  display: flex;
  align-items: center;
  width: 545px;
  height: 310px;
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 101px;
  object-fit: cover;
}

.image-2,
.image-3,
.threads-removebg-preview-1 {
  text-decoration: none;
  position: absolute;
  top: 26px;
  left: 1105px;
  width: 30px;
  height: 30px;
  background-image: url(./public/image-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-3,
.threads-removebg-preview-1 {
  left: 1158px;
  background-image: url(./public/image-3@3x.png);
}
.threads-removebg-preview-1 {
  top: 23px;
  left: 1195px;
  width: 55px;
  height: 37px;
  background-image: url(./public/threadsremovebgpreview-1@3x.png);
}
.about-us,
.home,
.contact-us,
.register,
.resource
{
  text-decoration: none;
  position: absolute;
  top: 20px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 42px;
}
.home {
  left: 180px;
  cursor: pointer;
}
.about-us {
  left: 360px;
}
.contact-us{
  left: 540px;
}
.register {
  left: 720px;
}
.resource{
  left: 900px;
}
.navbar {
  position: absolute;
  top: 19px;
  left: 100px;
  width: 1250px;
  height: 101px;
  font-family: var(--font-bebas-neue);
}
.rectangle-div,
.unsc-inner,
.unsc-item {
  position: absolute;
  top: 538px;
  left: 730px;
  background-color: var(--color-gainsboro-100);
  width: 180px;
  height: 286px;
}
.rectangle-div,
.unsc-inner {
  left: 973px;
}
.rectangle-div {
  left: 1216px;
}
.chair,
.vice-chair {
  position: absolute;
  top: 851px;
  left: 732px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 56px;
}
.vice-chair {
  left: 987px;
}
.unsc-child1 {
  position: absolute;
  top: 772px;
  left: 170px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 322px;
  height: 52px;
  cursor: pointer;
}
.resources {
  position: absolute;
  top: 780px;
  left: 279px;
  font-size: 30px;
  font-family: var(--font-bebas-neue);
  text-align: left;
}
.unsc {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-be-vietnam);
}
